# dependencies
**/node_modules/

# environment files (do not commit secrets)
**/.env
**/.env.*
!.env.example

# builds
frontend/build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
